
body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrapper {
        width: 1144px;
        min-width: 1144px;
        max-width: 1144px;
    }
}

table {
    font-size: 13px;
    width: 100%;

    thead {
        color: gray;

        tr {
            td {

            }
        }
    }

    tbody {
        tr {
            td {
                vertical-align: top;
                padding: 6px;
            }

            &:nth-child(2n-1) {
                background: #ececec;
            }
        }
    }
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > *:not(:last-child) {
        margin-right: 16px;
    }
}

.filter_exclude {
    color: #989898;
}

.cookie-warning {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: aliceblue;
    text-align: center;
    padding: 20px;
}

header {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
}

.locale-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    font-size: 14px;
    font-weight: normal;

    & > * {
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &.selected {
            text-decoration: underline;
        }
    }
}